{% extends 'base.html' %}
{% block body %}
<div class="container">
  <h2>Update Todo</h2>
  <form action="/Update/{{user.sno}}" method="POST">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" name="title" value="{{user.title}}"id="title" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Description</label>
      <input type="text" class="form-control" value="{{user.desc}}" name="desc" id="desc">
    </div>
    <button type="submit" class="btn btn-outline-secondary">Update</button>
  </form>
</div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
      {% endblock body %}